data_raw/meteorology/*
*.Rhistory
.DS_Store
data_processed/Phenology_Met_combined.csv
data_processed/GHCN_met_all.csv
*.csv
*.png
data_processed/TracePlots_Quercus_macrocarpa.pdf
scripts/Morton_Phenology_Forecast/shiny_app/Arb_Pheno.db
*.nc
